

.contacts {
  margin-bottom: 300px;
  margin-top: 210px;
}

.contacts-form {
  text-align: center;

}

.contacts-form input {
  border: 1px solid #c4c4c4;
  width: 225px;
  height: 35px;
  padding: 0 15px;font-family: 'Acrom Medium';
  margin-top: 20px;
}

.options {
    border: 1px solid #c4c4c4;
  width: 225px;
  height: 37px;
  padding: 0 15px;font-family: 'Acrom Medium';
  margin-top: 20px;
}
.contacts-form input::placeholder {
  color: #7a7a7a;
  font-size: 11px;
}

.contacts-form textarea {
  width: 747px;
  height: 135px;
  margin-top: 25px;
  padding: 15px;font-family: 'Acrom Medium';
}

.contacts-form button {
  font-family: 'Acrom Medium';
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  box-shadow: 4px 3px 7px 1px rgba(122, 122, 122, 0.28);
  border-radius: 3px;
  background-color: #6eb0f2;
  border: none;
  outline: none;
  width: 250px;
  height: 45px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}