@font-face {
	font-family: 'Acrom Extra Bold';
	src: url('../fonts/Acrom-ExtraBold.eot');
	src: url('../fonts/Acrom-ExtraBold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Acrom-ExtraBold.woff') format('woff'),
	url('../fonts/Acrom-ExtraBold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Acrom Medium';
	src: url('../fonts/Acrom-Medium.eot');
	src: url('../fonts/Acrom-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Acrom-Medium.woff') format('woff'),
	url('../fonts/Acrom-Medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}