.main {
	width: 100%;
	height: 709px;
	margin-top: 20px;
	color: white;
	padding: 0.1px;
	background-image: url('../img/mainBackground.png');
	background-repeat: no-repeat;
	background-position: right;
	background-size: 1500px 750px;

	&-background {
		background-image: url('../img/back.svg');
		width: 45em;
		height: 100%;
		background-repeat: no-repeat;
		background-position: right;
	}

	&-description {
		font-family: 'Acrom Medium';
		width: 475px;
		margin-left: 110px;
		padding-top: 150px;

		&__logo {
			font-size: 65px;
			font-family: 'Acrom Extra Bold';
			text-transform: uppercase;

			img {
				width: 65px;
			}
		}

		&__text1 {
			font-size: 18px;
			text-transform: uppercase;
			line-height: 38px;
		}

		&__text2 {
			font-size: 32px;
		}

		&__text3 {
			margin-top: 30px;
			margin-bottom: 30px;
		}

		&__button {
			color: #6eb0f2;
			font-family: 'Acrom Extra Bold';
			font-size: 15px;
			text-transform: uppercase;
			background-color: white;
			box-shadow: 1px 1px 17px 1px rgba(0, 0, 0, 0.1);
			border-radius: 5px;
			border: none;
			outline: none;
			width: 325px;
			height: 40px;
			cursor: pointer;
		}
	}

	&-social {
		display: flex;
		margin-left: 110px;
		margin-top: 125px;

		&__instagram {
			width: 23px;
			height: 23px;
			background-image: url('../img/instagram.svg');
			background-image: no-repeat;
			background-size: cover;
			margin-right: 10px;
		}

		&__facebook {
			width: 23px;
			height: 23px;
			background-image: url('../img/facebook.svg');
			background-image: no-repeat;
			background-size: cover;
		}
	}
}