body { margin: 0; padding: 0; }

@font-face {
	font-family: 'Acrom Extra Bold';
	src: url('./fonts/Acrom-ExtraBold.eot');
	src: url('./fonts/Acrom-ExtraBold.eot?#iefix') format('embedded-opentype'),
	url('./fonts/Acrom-ExtraBold.woff') format('woff'),
	url('./fonts/Acrom-ExtraBold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Acrom Medium';
	src: url('Acrom-Medium.eot');
	src: url('Acrom-Medium.eot?#iefix') format('embedded-opentype'),
	url('Acrom-Medium.woff') format('woff'),
	url('Acrom-Medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	/*margin: 0 auto;*/
	/*border: 1px solid black;*/
	margin-top: 23px;
}

.headerLogo {
	font-size: 30px;
	color: #6eb0f2;
	font-family: 'Acrom Extra Bold';
	text-transform: uppercase;
	margin-bottom: 0;

	margin-right: 4.7em;
}

.headerLogo img {
	width: 26px;
}

.headerList {
	/*display: flex;*/
	list-style: none;
	color: #6eb0f2;
	font-family: 'Acrom Extra Bold';
	text-transform: uppercase;
}

.headerList li {
	margin-right: 23px;
	display: inline-block;
	cursor: pointer;
}

.mainSection {
	width: 100%;

	height: 709px;

	margin-top: 20px;
	color: white;
	padding: 0.1px;
	background-image: url('img/mainBackground.png');
	background-repeat: no-repeat;
	/*background-size: auto;*/
	background-position: right;
	background-size: 1500px 750px;
	/*padding:;*/
}

.backgr {
	background-image: url('img/back.svg');
	width: 45em;
	height: 100%;
	background-repeat: no-repeat;
	background-position: right;
}

.mainLogo {
	font-size: 65px;
	font-family: 'Acrom Extra Bold';
	text-transform: uppercase;
}

.mainLogo img {
	width: 65px;
}

.mainh2 {
	font-size: 18px;
	text-transform: uppercase;
	line-height: 38px;
}

.mainh3 {
	font-size: 32px;
}

.mainp {
	margin-top: 30px;
	margin-bottom: 30px;
}

.description {
	font-family: 'Acrom Medium';
	width: 475px;
	margin-left: 110px;
	/*margin-top: 155px;*/
	padding-top: 150px;
}

.description-button {
	color: #6eb0f2;
	font-family: 'Acrom Extra Bold';
	font-size: 15px;
	text-transform: uppercase;
	background-color: white;
	box-shadow: 1px 1px 17px 1px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	border: none;
	outline: none;
	width: 325px;
	height: 40px;
	cursor: pointer;
}

.socialicon-group {
	display: flex;
	margin-left: 110px;
	margin-top: 125px;
}

.instagram {
	width: 23px;
	height: 23px;
	background-image: url('./img/instagram.svg');
	background-image: no-repeat;
	background-size: cover;
	margin-right: 10px;
}

.facebook {
	width: 23px;
	height: 23px;
	background-image: url('img/facebook.svg');
	background-image: no-repeat;
	background-size: cover;
}


.services-h2 {
	color: #6eb0f2;
	text-transform: uppercase;
	font-family: 'Acrom Extra Bold';
	text-align: center;
	font-size: 36px;
	width: 200px;
	margin: 0 auto;
	margin-top: 70px;
}

.border {
	width: 70px;
	height: 70px;
	background-color: black;
	background-image: url('img/bimg.svg');
	background-size: 100%;
}

.services-text {
	font-family: 'Acrom Medium';
	width: 790px;
	color: #7a7a7a;
	margin: 0 auto;
	margin-top: 30px;
	font-size: 14px;
	text-align: center;
	line-height: 15px;
}

.services {
	margin-bottom: 15px;
}

.item {
	display: flex;
	/*justify-content: center;*/
	align-items: center;
	flex: 0 0 33.3333%;
	margin-bottom: 50px;
}

.services-items {
	display: flex;
	justify-content: center;
	/*border: 1px solid black;*/
	flex-wrap: wrap;
	width: 900px;
	margin: 0 auto;
	margin-top: 50px;
}

.item-text {
	font-family: 'Acrom Extra Bold';
	text-transform: uppercase;
	color: #7a7a7a;
}

.item-logo {
	width: 60px;
	height: 60px;
	box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.09);
	margin-right: 20px;
	border-radius: 8px;
	background-image: url('img/item1.svg');
		background-image: no-repeat;
	background-size: cover;	

	background-image: url('img/item1.svg');
	background-image: no-repeat;
	background-size: cover;
}

.howwork {
	background-color: #f5f5f5;
	width: 100%;
	height: 725px;
	margin-bottom: 60px;
	padding-top: 50px;
}

.howwork-h2 {
	color: #6eb0f2;
	text-transform: uppercase;
	font-family: 'Acrom Extra Bold';
	text-align: center;
	font-size: 36px;
	/*width: 200px;*/
	margin: 0 auto;
	/*margin-top: 70px;*/
	/*padding-bottom: 29px;*/
	/*border-bottom: 1px solid #6aaef3*/
}

.borderr {
	/*margin-top: 50px;*/
	width: 181px;
	height: 2px;
	margin: 0 auto;
	margin-top: 30px;
	background-color: #6aaef3;
}

.howwork-text1 {
	color: #7a7a7a;
	font-family: 'Acrom Medium';
	width: 800px;
	margin: 0 auto;
	margin-top: 29px;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
}

.slider {
	margin: 0 auto;
	/*border: 1px solid black;*/
	text-align: center;
	margin-top: 50px;
}

.howwork-img {
		width: 750px;
}

.slider-left {
	/*width: 50px;*/
	/*height: 50px;*/
	/*background-color: red;*/
	/*color: red;*/
	/*background-image: url('img/arrowleft.svg');*/
}

.howwork-text2 {
	color: #7a7a7a;
	font-family: 'Acrom Medium';
	width: 790px;
	margin: 0 auto;
	margin-top: 29px;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
}

.specialist-list {
	margin-top: 60px;
	margin-left: 260px;
	display: flex;
	/*border: 1px solid black;*/
}

.specialist-item {
	margin-right: 40px;
	width: 275px;
	height: 355px;
	box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.09);
	margin-bottom: 50px;
	background-size: 275px;
	background-repeat: no-repeat;
}

.spec1 {
	background-image: url('img/spec1.png');
}

.spec2 {
	background-image: url('img/spec2.png');
}

.spec3 {
	background-image: url('img/scep3.png');
}

.speclist-name {
	color: #6eb0f2;
	font-family: 'Acrom Extra Bold';
	text-transform: uppercase;

}

.speclist-position {
	margin-top: 10px;
	/*font-size: 15px;*/
	font-family: 'Acrom Medium';
	color: #7a7a7a;
}

.specinfo {
	margin-top: 290px;
	text-align: center;
}

.info {
	background-color: #6eb0f2;
	/*width: 100%;*/
	height: 160px;
	margin-top: 50px;
	opacity: 0.9;
	margin-bottom: 50px;
	padding-top: 55px;
}

.info-item {
	/*margin-top: 0px;*/
	margin-left: 430px;
}

.info-item__count {
	font-family: 'Acrom Extra Bold';
	color: white;
	font-size: 50px;
}

.info-item__text	 {
	font-family: 'Acrom Extra Bold';
	color: white;
	margin-top: 15px;
	font-size: 13px;
	width: 100px;
	/*text-align: center;*/

}